{% extends "base.html" %}

{% block content %}
{% load static %}
{% load cloudinary %}
<div class="container">
    <div class="row">
        <h1 class="text-center my-5">My Podcasts</h1>
        <div class="text-center mb-5"><a class="btn btn-primary" href="add-podcast">Add New Podcast</a></div>
        <!-- Displaying Podcast shows -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for show in shows %}
                <div class="col-lg-6 {% if not episode.status %}faded{% endif %}">
                    <div class="card mb-3 p-4 rounded-xl">
                        <a href="{% url 'podcast_detail' show.slug %}" class="post-link">
                        <div class="row g-0">                            
                            <div class="col-md-4">
                                {% if "placeholder" in show.artwork.url %}
                                <img class="img-fluid rounded-3" src="{% static 'images/microphone.webp' %}" alt="placeholder image of microphone" width="320" height="320">
                                {% else %}
                                <img class="img-fluid rounded-3" src="{{ show.artwork.url }}" alt="{{ show.title }}" width="320" height="320">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body ps-4 pt-0">
                                    <h2 class="card-title">{{ show.title }}</h2>
                                    <div class="card-text">{{ show.excerpt | safe }}</div>
                                    <p class="card-ctoa">Go to show</p>
                                    {% if not show.status %}
                                    <p class="approval">This podcast is in draft</p>
                                    {% endif %}
                                </div>
                            </div>                            
                        </div>
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}