{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center my-5">Recently Published Podcasts</h1>
        <!-- Podcast Entries -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for show in podcast_list %}
                <div class="col-lg-6">
                    <div class="card mb-3 p-4 rounded-xl">
                        <a href="{% url 'podcast_detail' show.slug %}" class="post-link">
                        <div class="row g-0">                            
                            <div class="col-md-4">
                                {% if "placeholder" in show.artwork.url %}
                                <img class="img-fluid rounded-3" src="{% static 'images/microphone.webp' %}" alt="placeholder image of microphone" width="320" height="320">
                                {% else %}
                                <img class="img-fluid rounded-3" src="{{ show.artwork.url }}" alt="{{ show.title }}" width="320" height="320">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body ps-4 pt-0">
                                    <h2 class="card-title">{{ show.title }}</h2>
                                    <div class="card-text">{{ show.excerpt | safe }}</div>
                                    <p class="card-ctoa">Go to show</p>
                                </div>
                            </div>                            
                        </div>
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}