body {
    /* COLOUR PALETTE */
    --ebony: #110C24;
    --ebony-clay: #2f2c41;
    --mirage: #1a1729;
    --blue: #3d17fd;
    --melrose: #b2a3ff;
    --fog: #dad2ff;
    --tan-hide: #fb655d;
    --torch-red: #f7224c;
    --froly: #f77f97;
    --monza: #DD002C; 
    
    /* COLOUR CONTEXTS */
    --primary-color: var(--blue);
    --primary-dark: var(--mirage);
    --secondary-color: var(--monza);
    --secondary-color-muted: var(--froly);

    --link-color: var(--melrose);
    --link-hover-color: var(--fog);
    --text-hover-color: var(--secondary-color); 
    --text-dark: var(--ebony);
    --btn-color-primary: var(--primary-color);
    --btn-color-secondary: var(--secondary-color);
    /* FONT */
    font-size: 1.125em;
    color: #fff;
}
a { color: var(--link-color);}
a, a p, a h2 {
    transition: color .25s ease-in-out;
}
a:hover {
    color: var(--link-hover-color);
}
.brand {
    font-size: 1.4rem;
    font-weight: 700;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: var(--mirage);
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.card {
    background-color: var(--ebony-clay);
    border-radius: .75rem;
}
.post-link {
    text-decoration: none;
}
.post-link .card-title {
    color: #fff;
}
.post-link:hover .card-title {
    color: var(--link-color);
}

.post-link .card-text, .post-link .card-ctoa {
    color: #ccc;
}
.post-link:hover .card-text {
    color: var(--link-color);
}
.post-link:hover .card-ctoa {
    color: #fff;
}
.card-ctoa {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: .5px;
    text-decoration-style: dashed;
    text-decoration-color: rgba(256, 256, 256, .5);
}

.rounded-xl {
    border-radius: .75rem !important;
}

audio {
    width: 100%;
}

.page-link {
    color: #E84610;
}
.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* About page */
.about-img {
    width: 75%;
}

/* NAVIGATION */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .875);
}

/* BUTTONS */
.btn-primary, 
.btn-primary.active, 
.navbar-dark .navbar-nav .nav-link.btn-primary, 
.navbar-dark .navbar-nav .nav-link.btn-primary.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}
.btn-primary:hover, 
.btn-primary:active,
.navbar-dark .navbar-nav .nav-link.btn-primary:hover {
    background-color: #fff;
    color: var(--text-dark);
}

.btn-rounded {
    border-radius: 24px;
}

.link {
    color: var(--link-color);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: .5px;
    text-decoration-style: dashed;
    text-decoration-color: rgba(256, 256, 256, .5);
    transition: all ease-in-out .25s;
}

.link:hover,
.link:active {
    color: var(--link-hover-color);
    text-underline-offset: 8px;
    text-decoration-thickness: .875px;
    text-decoration-color: var(--link-color);
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background-color: var(--btn-color-secondary);
}
.btn-delete:hover,
.btn-delete:active {
    background-color: var(--secondary-color-muted);
    color: var(--text-dark);
}

/* centre sign up forms */
.vertical-center {
    display: flex;
    align-items: center;
    min-height: 100vh;
 }

 .modal {
    color: var(--text-dark);
 }

 /* edit form file input */
.file-input, .file-input a, .file-input input, .file-input label  {
    display: inline-block;
}
.file-input a, .file-input input {
    padding-right: 2rem;
    margin: .5rem .75rem;
}
/* footer */
.footer a {
    text-decoration: none;
}
footer i {
    font-size: 1.5em;
}